/*
* {
    outline: 1px solid red;
}*/
body {
  margin: 0;
  font-style: normal; }

.main-grid {
  padding: 0;
  margin-left: 30px;
  margin-right: 50px; }

.main-photos {
  padding: 0;
  margin-left: 30px;
  margin-right: 50px; }

.main-footer {
  padding: 0;
  margin-left: 30px;
  margin-right: 50px; }

.line {
  color: grey;
  margin-top: 13px; }

.icon {
  color: red; }

.main-header {
  display: flex;
  height: 39px;
  padding-top: 12px; }
  .main-header .header__logo {
    width: 40%; }
  .main-header .header__image {
    width: 140px; }
  .main-header .header__text {
    width: 15%; }
  .main-header .header__font {
    display: none; }
  .main-header .header__icon {
    color: grey;
    position: relative;
    left: 33px;
    top: 14px;
    font-size: 23px; }

.section__first {
  padding: 0;
  margin-left: 30px;
  margin-right: 50px;
  margin-bottom: 30px; }

.section__button {
  background-color: #fecd2f;
  border: 1px solid black;
  position: relative;
  margin-bottom: 13px;
  width: 90%;
  height: 30px; }

.section__second {
  padding: 0;
  margin-left: 30px;
  margin-right: 50px;
  margin-bottom: 30px; }

.section__photo {
  font-size: 19px; }

.section__link {
  text-decoration-color: #fecd2f; }

.section__link:visited {
  color: black; }

.section__third {
  padding: 0;
  margin-left: 30px;
  margin-right: 50px; }

.section__third-image {
  position: relative;
  width: 91%;
  bottom: 15px;
  left: 4%; }

.section__image {
  width: 100%; }

.section__title {
  font-size: 27px; }

.main-photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  .main-photos .photo {
    width: 100%;
    padding: 5px;
    /*border: 1px solid white;*/
    border-radius: 3px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: 'Gill Sans', 'Century Gothic', sans-serif; }
    .main-photos .photo__image {
      width: 100%; }
    .main-photos .photo__title {
      font-weight: bold;
      margin-top: -22px; }

.main-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #333333; }
  .main-grid .grid {
    width: 100%;
    padding: 5px;
    /*border: 1px solid white;*/
    border-radius: 3px;
    margin-bottom: 10px;
    margin-right: 10px; }
    .main-grid .grid__secondary {
      outline: 1px solid white;
      width: 50%;
      position: relative;
      left: 25%; }
    .main-grid .grid__title {
      font-family: 'Gill Sans', 'Century Gothic', sans-serif;
      color: white;
      font-size: 22px;
      text-align: center; }
    .main-grid .grid__span {
      position: relative;
      left: 30%; }
      .main-grid .grid__span .fa-twitter {
        color: blue;
        font-size: 30px;
        margin-right: 15px; }
      .main-grid .grid__span .fa-facebook {
        color: #1A5276;
        font-size: 30px;
        margin-right: 15px; }
      .main-grid .grid__span .fa-camera {
        color: #2874A6;
        font-size: 30px;
        margin-right: 15px; }
    .main-grid .grid__content {
      color: white;
      text-align: center; }
    .main-grid .grid__link {
      font-weight: bold;
      color: white;
      position: relative;
      left: 45%;
      text-decoration-color: #fecd2f; }

.main-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #aaaaaa; }
  .main-footer .footer__first {
    width: 81%;
    padding: 10px;
    margin: 17px; }
  .main-footer .footer__news {
    font-size: 19px; }
  .main-footer .footer__input {
    height: 18px;
    width: 92px; }
  .main-footer .footer__button {
    border-radius: 0px;
    background-color: #fecd2f; }
  .main-footer .footer__second {
    width: 70%;
    padding: 10px;
    margin: 17px; }
  .main-footer .footer__text {
    font-size: 19px;
    margin-top: -23px; }

@media screen and (min-width: 1024px) {
  .section__first .section__button {
    width: 600px;
    height: 40px;
    left: 26%;
    margin-bottom: 50px; }
  .section__second {
    padding: 0;
    margin-left: 19%; }
    .section__second .section__photo {
      font-size: 30px; }
    .section__second .section__title {
      font-size: 60px; }
  .section__third {
    margin-left: 19%;
    padding-top: 27px; }
    .section__third .section__third-image {
      width: 638px;
      position: relative;
      bottom: 27px;
      left: 90px; }
      .section__third .section__third-image .section__image {
        width: 100%; }
  .main-header .header__logo {
    width: 60%; }
    .main-header .header__logo .header__image {
      width: 137px; }
  .main-header .header__text {
    width: 15%; }
    .main-header .header__text .header__font {
      display: block;
      color: grey;
      text-align: center;
      border-left: 1px solid #fecd2f; }
    .main-header .header__text .header__icon {
      display: none; }
  .main-grid {
    /*background-color: #333333;
        margin-right: 849px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #333333; }
    .main-grid .grid {
      width: 22%; }
  .main-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 276px;
    margin-right: 383px; }
    .main-photos .photo {
      width: 44%; }
      .main-photos .photo .photo__image {
        width: 100%; }
      .main-photos .photo .photo__title {
        font-size: 20px;
        margin-top: 0px; }
  .main-footer .footer__first {
    width: 57%;
    padding: 10px;
    margin: 17px;
    border-left: 1px solid grey; }
    .main-footer .footer__first .footer__news {
      font-size: 29px; }
    .main-footer .footer__first .footer__input {
      height: 25px;
      width: 129px; }
    .main-footer .footer__first .footer__button {
      height: 26px; }
  .main-footer .footer__second {
    width: 30%;
    height: 50px;
    margin-top: 50px;
    border-left: 1px solid grey; }
    .main-footer .footer__second .footer__text {
      margin-top: 0px;
      font-size: 29px; }
  .line {
    margin-top: 10px; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section__first .section__button {
    width: 500px;
    height: 40px;
    left: 19%;
    margin-bottom: 50px; }
  .section__second {
    padding: 0;
    margin-left: 70px;
    margin-right: 332px; }
    .section__second .section__photo {
      font-size: 30px; }
    .section__second .section__title {
      font-size: 60px; }
  .section__third {
    padding-top: 27px; }
    .section__third .section__third-image {
      width: 80%;
      position: relative;
      bottom: 27px;
      left: 90px; }
      .section__third .section__third-image .section__image {
        width: 100%; }
  .main-header .header__logo {
    width: 60%; }
    .main-header .header__logo .header__image {
      width: 137px; }
  .main-header .header__text {
    width: 15%; }
    .main-header .header__text .header__font {
      display: none;
      color: grey;
      text-align: center;
      border-left: 1px solid #fecd2f; }
  .main-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #333333; }
    .main-grid .grid {
      width: 46%; }
  .main-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 67px;
    width: 83%; }
    .main-photos .photo {
      width: 47%; }
      .main-photos .photo .photo__image {
        width: 100%; }
      .main-photos .photo .photo__title {
        font-size: 20px;
        margin-top: 0px; }
  .main-footer .footer__first {
    width: 50%;
    padding: 10px;
    margin: 17px;
    border-left: 1px solid grey; }
    .main-footer .footer__first .footer__news {
      font-size: 29px; }
    .main-footer .footer__first .footer__input {
      height: 25px;
      width: 129px; }
    .main-footer .footer__first .footer__button {
      height: 26px; }
  .main-footer .footer__second {
    width: 30%;
    height: 50px;
    margin-top: 50px;
    border-left: 1px solid grey; }
    .main-footer .footer__second .footer__text {
      margin-top: 0px;
      font-size: 29px; }
  .line {
    margin-top: 10px; } }
